<% @monday_tasks, @tuesday_tasks, @wednesday_tasks, @thursday_tasks, @friday_tasks, @saturday_tasks, @sunday_tasks = Array.new(10) { [] } %>

<% @tasks_this_week.each do |task| %>
	<% @tday = task.created_at_day %>
	<% case @tday %>
		<% when 1 %>
			<% @monday_tasks.push(task) %>
		<% when 2 %>
			<% @tuesday_tasks.push(task) %>
		<% when 3 %>
			<% @wednesday_tasks.push(task) %>
		<% when 4 %>
			<% @thursday_tasks.push(task) %>
		<% when 5 %>
			<% @friday_tasks.push(task) %>
		<% when 6 %>
			<% @saturday_tasks.push(task) %>
		<% when 7 %>
			<% @sunday_tasks.push(task) %>
	<% end %>
<% end %>




<div class="main-section" id="explanation">
	<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#monday" data-toggle="tab">Monday (<%= @monday_tasks.length %>)</a></li>
	<li><a href="#tuesday" data-toggle="tab">Tuesday (<%= @tuesday_tasks.length %>)</a></li>
	<li><a href="#wednesday" data-toggle="tab">Wednesday (<%= @wednesday_tasks.length %>)</a></li>
	<li><a href="#thursday" data-toggle="tab">Thursday (<%= @thursday_tasks.length %>)</a></li>
	<li><a href="#friday" data-toggle="tab">Friday (<%= @friday_tasks.length %>)</a></li>
	<li><a href="#saturday" data-toggle="tab">Saturday (<%= @saturday_tasks.length %>)</a></li>
	<li><a href="#sunday" data-toggle="tab">Sunday (<%= @sunday_tasks.length %>)</a></li>
	</ul>




	<div id="myTabContent" class="tab-content">

		<div class="tab-pane fade in active" id="monday">

			<div class="row-fluid">

				<% @monday_tasks.reverse_each do |task| %>
		  			<p><%= link_to task.content, task_path(task), tabindex: "-1" %></p>
		  		<% end %>

			</div>
		</div>


		<div class="tab-pane fade" id="tuesday">


			<div class="row-fluid">

				<% @tuesday_tasks.reverse_each do |task| %>
		  			<p><%= link_to task.content, task_path(task), tabindex: "-1" %></p>
		  		<% end %>

			</div>

		</div>

		<div class="tab-pane fade" id="wednesday">

			<div class="row-fluid" >

				<% @wednesday_tasks.reverse_each do |task| %>
		  			<p><%= link_to task.content, task_path(task), tabindex: "-1" %></p>
		  		<% end %>
			
			</div>

		</div>

		<div class="tab-pane fade" id="thursday">

			<div class="row-fluid" >

			<% @thursday_tasks.reverse_each do |task| %>
	  			<p><%= link_to task.content, task_path(task), tabindex: "-1" %></p>
	  		<% end %>
			
			</div>

		</div>

		<div class="tab-pane fade" id="friday">

			<div class="row-fluid" >

			<% @friday_tasks.reverse_each do |task| %>
	  			<p><%= link_to task.content, task_path(task), tabindex: "-1" %></p>
	  		<% end %>
			
			</div>

		</div>

		<div class="tab-pane fade" id="saturday">

			<div class="row-fluid" >

			<p>Saturday Shit</p>
			
			</div>

		</div>

		<div class="tab-pane fade" id="sunday">

			<div class="row-fluid" >

			<% @sunday_tasks.reverse_each do |task| %>
	  		<%= link_to task.content + " (" + time_ago_in_words(task.created_at) + ")", task_path(task), tabindex: "-1" %>
	  		<% end %>
			
			</div>

		</div>

	</div>

</div>









<br><br>


<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	  All Tasks
		</a>
	</div>
	<div id="collapseOne" class="accordion-body collapse">
		<div class="accordion-inner">
			<% @tasks.reverse_each do |task| %>
			<div class="list-task">
			<p><%= task.content %></p>
			<small><%= link_to time_ago_in_words(task.created_at) + " ago", task_path(task) rescue "No date?" %></small>
			<% end %>
			</div>
		</div>
	</div>
</div>
