<% @monday_tasks, @tuesday_tasks, @wednesday_tasks, @thursday_tasks, @friday_tasks, @saturday_tasks, @sunday_tasks = Array.new(10) { [] } %>

<% @tasks_this_week.each do |task| %>
	<% @tday = task.created_at_day %>
	<% case @tday %>
		<% when 1 %>
			<% @monday_tasks.push(task) %>
		<% when 2 %>
			<% @tuesday_tasks.push(task) %>
		<% when 3 %>
			<% @wednesday_tasks.push(task) %>
		<% when 4 %>
			<% @thursday_tasks.push(task) %>
		<% when 5 %>
			<% @friday_tasks.push(task) %>
		<% when 6 %>
			<% @saturday_tasks.push(task) %>
		<% when 7 %>
			<% @sunday_tasks.push(task) %>
	<% end %>
<% end %>



<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Monday (<%= @monday_tasks.length %>)
		<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
    <!-- dropdown menu links -->
	<% @monday_tasks.reverse_each do |task| %>
	  	<li><%= link_to task.content + " (" + time_ago_in_words(task.created_at) + ")", task_path(task), tabindex: "-1" %> </li>

	<% end %>
  </ul>
</div>




<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Tuesday (<%= @tuesday_tasks.length %>)
		<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
    <!-- dropdown menu links -->
	<% @tuesday_tasks.reverse_each do |task| %>
	  	<li><%= link_to task.content + " (" + time_ago_in_words(task.created_at) + ")", task_path(task), tabindex: "-1" %> </li>

	<% end %>
  </ul>

</div>



<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Wednesday (<%= @wednesday_tasks.length %>)
		<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
    <!-- dropdown menu links -->
	<% @wednesday_tasks.reverse_each do |task| %>
	  	<li><%= link_to task.content + " (" + time_ago_in_words(task.created_at) + ")", task_path(task), tabindex: "-1" %> </li>
	<% end %>
  </ul>

</div>




<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Thursday (<%= @thursday_tasks.length %>)
		<span class="caret"></span>
	</a>
  	<ul class="dropdown-menu">
		<% @thursday_tasks.reverse_each do |task| %>
	  		<li><%= link_to task.content, task_path(task), tabindex: "-1" %> </li>
	  	<% end %>
  </ul>
</div>


<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Friday (<%= @friday_tasks.length %>)
		<span class="caret"></span>
	</a>
  	<ul class="dropdown-menu">
		<% @friday_tasks.reverse_each do |task| %>
	  		<li><%= link_to task.content, task_path(task), tabindex: "-1" %> </li>
	  	<% end %>
  </ul>
</div>


<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Saturday <%= @saturday_tasks.length %>
	<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
		<% @saturday_tasks.reverse_each do |task| %>
	  		<li><%= link_to task.content, task_path(task), tabindex: "-1" %> </li>
	  	<% end %>
  </ul>
</div>



<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Sunday (<%= @sunday_tasks.length %>)
		<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
    <!-- dropdown menu links -->
	<% @sunday_tasks.reverse_each do |task| %>
	  	<li><%= link_to task.content + " (" + time_ago_in_words(task.created_at) + ")", task_path(task), tabindex: "-1" %> </li>
	<% end %>
  </ul>

</div>


















<h4>Past Week</h4>
	<% @new_tasks = @tasks.where("created_at > ?", 2.days.ago) %>-
	<% @old_tasks = @tasks.where("created_at < ?", 2.days.ago) %>

	<% @new_tasks.reverse_each do |task| %>
	  <div class="list-task">
	  	<p><%= task.content %></p>
	  	<small><%= link_to task.recently, task_path(task) %></small>
	  </div>
	<% end %>

<% if @old_tasks != nil %>
	<hr>
	<h4>Older</h4>

	<% @old_tasks.reverse_each do |task| %>
	  <div class="list-task">
	  	<p><%= task.content %></p>
	  	<small><%= link_to time_ago_in_words(task.created_at) + " ago", task_path(task) %></small>
	  </div>
	<% end %>
<% end %>
