You completed
<h3><%= @task.content %></h3>
and earned the reward of:

<div class="big-reward">
	<%= @task.reward_description %>
</div>
<p>
	<%= link_to 'Edit this task', edit_task_path(@task) %> | <%= link_to 'Delete this task', @task, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Back to Home', tasks_path %>
</p>