<%= simple_form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h3>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :size, collection: 1..3, default: 1 %>
  <div align="left">
    <a href="#" data-toggle="popover" data-original-title="What is the deal with Reward Size?" title data-content= "Size relates to how 'big' the reward is, and thus it's frequency of appearing. Checking Facebook --> 1 (more frequent). Fancy night out --> 3 (less frequent).">What is size?</a>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>





    <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
