<%= simple_form_for(@reward, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :size, collection: 1..3, prompt: "Bigger # = Bigger Reward" %>
  <%= f.input :user_id, collection: User.all, label_method: :full_name %>



    <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
