  <script>
    function reloadPage() {location.reload()}
  </script>

<% if user_signed_in? %>

  <h3>Good job! Here's your reward: </h3>
  <div class="row">
    <div class="span8">
      <%= render 'rewards/new_reward_partial' %>
    </div>

    <div class="span4">
      <div class="big-reward-button">
       <p><a href="#" class="btn btn-large" value="Get Another Reward" onclick="reloadPage()">Redeem Another Reward <i class="icon-heart"></i></a></p>
      </div>
    </div>
  </div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Edit the Rewards here
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <h4><%= link_to 'Create a New Reward', new_reward_path, class: "btn" %></h4>
        <% @rewards.each do |reward| %>
          <div><strong><%= reward.name %></strong> &nbsp; <%= link_to 'Edit', edit_reward_path(reward) %>  &nbsp; | &nbsp;<%= link_to 'Delete', reward, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div><%= reward.description %></div>
          <br>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% else %>

<div class="container-narrow" align="center">
  <%= image_tag "/assets/RewardBoxWordmark.png" %>
  <p class="subtitle">Because sometimes "trying harder" isn't enough to get the job done</p>
  <div class="big-reward">
    <%= Reward.test_redeem.description %>
  </div>
  <div>
     <p>
      <a href="#" class="btn btn-primary btn-large title-button" value="Get Another Reward" onclick="reloadPage()">Generate new reward <i class="icon-heart"></i></a>
      <%= link_to "Start your own collection", new_user_registration_path, class: "btn btn-large title-button" %>
     </p>
   </div>
    <br>
   <div class="muted">
    <p align="center">Version 0.8 | (<a href="https://github.com/jasonshen/RewardBox">Github</a>) </p>
  </div>
  <div class="row">
    <br>
    <h1>How It Works</h1>
    <br>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= image_tag "/assets/plusicon.png", class: "align center" %>
      <h3>1) Create Rewards</h3>
      <p>Create a personal collection of activities and things you enjoy.</p>
    </div>
    <div class="span4">
      <%= image_tag "/assets/workicon.png", class: "align center" %>
      <h3>2) Do Some Work</h3>
      <p>Sometimes work isn’t fun. Now you have a little more motivation to get it done.</p>
    </div>
    <div class="span4">
      <%= image_tag "/assets/gifticon.png", class: "align center" %>
      <h3>3) Redeem Rewards</h3>
      <p>Finished? Great job! Enjoy a guilt-free reward from your collection.</p>
    </div>
  </div>
</div>

<div class="footer muted">
  <div class="container-narrow">
  <h3>About</h3>
  <p>RewardBox is a place to collect and redeem personal incentives to help you take on your least favorite activities.</p>
  <p>It was built by this guy --> <a href="http://twitter.com/jasonshen">@jasonshen</a> who cofounded of a YC startup (<a href="http://ridejoy.com">Ridejoy</a>) and is a budding programmer. Learn more about <%= link_to "RewardBox", about_path %>.<p>
  </div>

</div>

<% end %>
