<a href="#" class="brand">RewardBox</a>
<ul class="nav">
<li><%= link_to "+ New Reward", new_reward_path %></li>
</ul>

<ul class="nav pull-right">
	<% if user_signed_in? %>
		<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	<% else %>
		<li><%= link_to "Register", new_user_registration_path %></li>
		<li><%= link_to "Sign In", new_user_session_path %></li>
	<% end %>
